@font-face {
    font-family: OpenDyslexic;
    src: url("/assets/font/OpenDyslexic.otf") format("opentype");
}

@media screen and (max-width: 600px) {
    .itemA, .itemB {
        width: 100%;
        margin-top: 0;
    }
}

body {
    background-color: #EAE7DC;
    border: 0px;
    margin: 0px;
    font-family: OpenDyslexic;
}

.nav {
    background-color: #D8C3A5;
    color: #E85A4F;
    margin: 0;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #5f5e5c;
    font-weight: bold;
    padding: 5px 8px;
}

.nav li a:hover {
    text-decoration: none;
    color: #E85A4F;
}

.ilmoitus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: #D8C3A5;
    color: #5f5e5c;
    max-width: 60%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

.universalForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: #D8C3A5;
    color: #5f5e5c;
    max-width: 60%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 20px;
}

.itemA {
    text-align: right;
}

.itemB {
    text-align: left;
}

.two-col-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
}

.loginButton {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;    
}

.editAdvertButton {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.ilmoitus h1 {
    border-radius: 5px;
    letter-spacing: 0.05em;
    background-color: #bba688;
    color: #E85A4F;
}

.ilmoitus h3 {
    color: #5f5e5c;
}

.ilmoitukset {
    background-color: #EAE7DC;
}

.container-advertBottom {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #5f5e5c;
    margin: 0.5em;
    border-radius: 0.25em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: OpenDyslexic;
    font-weight: 300;
    background: #bba688;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    color: #000;
    background-color: #EAE7DC;
}

.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: #D8C3A5;
    color: #5f5e5c;
    margin: 30px auto;
    padding: 10px;
    max-width: 40%;
    border-radius: 5px;
    text-align: center;
}

.searchBar {
    padding: 20px;
    text-align: center;
}

.container-search {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
}

.itemC {
    padding-top: 0.5em;
    text-align: right;
}

.itemD {
    padding-top: 0.4em;
    text-align: left;
}
